<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    
    <!-- AUTHENTICATION FOR PROGRAM SETTINGS -->
    <add key="adminUser" value="ADMINMODE"/>
    <add key ="adminPass" value="ADMINMODE"/>

    <!-- SQL SERVER SETTINGS-->
    <add key ="sqlconstring" value=""/>
    <add key="authIndex" value="0"/>
    <add key="user" value=""/>
    <add key="password" value=""/>
    <add key="server" value=""/>
    <add key="database" value=""/>
    
    
  </appSettings>
</configuration>